services:
  non-stabilizing-gossip-split-and-merge:
    image: angelacortecchia/experiments-2025-self-stabilizing-gossip:${VERSION:-latest}
    build:
      context: .
      dockerfile: docker/sim/Dockerfile
    volumes:
      - angela.cortecchia-volume:/experiment/data
    environment:
      - MAX_SEED=31
      - GRADLE_TASK=runSplitAndMergeNonStabGossip

  time-replicated-gossip-split-and-merge:
    image: angelacortecchia/experiments-2025-self-stabilizing-gossip:${VERSION:-latest}
    build:
      context: .
      dockerfile: docker/sim/Dockerfile
    volumes:
      - angela.cortecchia-volume:/experiment/data
    environment:
      - MAX_SEED=31
      - GRADLE_TASK=runSplitAndMergeTimeRepGossip

  self-stabilizing-gossip-split-and-merge:
    image: angelacortecchia/experiments-2025-self-stabilizing-gossip:${VERSION:-latest}
    build:
      context: .
      dockerfile: docker/sim/Dockerfile
    volumes:
      - angela.cortecchia-volume:/experiment/data
    environment:
      - MAX_SEED=31
      - GRADLE_TASK=runSplitAndMergeSelfStabGossip

volumes:
  angela.cortecchia-volume:
    external: true